*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
} 

body {
    /* font-family: Georgia, Times, "Times New Roman", serif; */
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Muli', sans-serif;

    font-weight: 400;
    line-height: 1.7;
    background: #F7F7F7;
    padding: 3rem;
    box-sizing: border-box;
}
.header {
    height: 10vh;
}

.logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header-logo{
    height: 4rem;
    
}

.row {
    max-width: 114rem;
    margin: 0 auto;
}

.row:not(:last-child) {
    margin-bottom: 8rem;
}


[class^="col-"] { 
    float: left; 
        
}

[class^="col-"]:not(:last-child) {
    margin-right: 6rem;
}


.col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3);
}